:root {
    --theme-color: rgb(119, 119, 119);
    --theme-color-2: rgb(150, 150, 150);
    --theme-color-mine: rgb(37, 166, 187);
    --theme-bkcolor-mine: rgb(37, 166, 187, 0.6);

    --theme-background-color-main: rgba(250, 250, 250, 0.9);  /* 主体背景色 */
    --theme-background-color-content: rgba(250, 250, 250, 0.6);  /* 内容背景色 */

    --theme-box-shadow: rgba(0, 0, 0, 0.1);  /* 阴影颜色 */

    --theme-header-bkcolor-1: rgba(253, 253, 253, 0.3);  /* 头部标签栏背景色（默认） */
    --theme-header-bkcolor-2: rgba(0, 0, 0, 0.05);   /* 头部标签栏背景色（视口超过内容部分） */
    --theme-header-color-1: rgb(250, 250, 250);  /* 头部标签栏字体色（默认） */
    --theme-header-color-2: rgb(60, 60, 60);  /* 头部标签栏字体色（视口超过内容部分） */

  }
  
  .dark-theme {
    --theme-color: #2c3e50; /* 暗色主题色 */
    --theme-background-color: #34495e; /* 暗色背景色 */
    --theme-font-color: #ecf0f1; /* 暗色字体颜色 */
  }
  
  .light-theme {
    --theme-color: #3498db; /* 明亮主题色 */
    --theme-background-color: #f0f0f0; /* 明亮背景色 */
    --theme-font-color: #333333; /* 明亮字体颜色 */
  }
  